<section class="bg-primary" id="about" style="background-color:Gray;>
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> About Me </h2>
                <hr class="light">
                <p class="text-faded"> 대학교 재학시절 데이터 분석 관련 수업을 들었을 때 과제를 하면서  많은 데이터를  제가 설정하고 원하는 결과를 추출하는 작업과정에 흥미를 느꼈습니다. <br>
                  저는 힘들다는 감정 보다는 무언가를 찾아내고, 문제를 해결하였을 때 기쁨이 크다는 것을 느꼈습니다. <br> 
                그때부터 데이터 분석가를 꿈꾸게 되었습니다. <br>
                저는 제 목표를 '잘하는' 분석가가 되도록 항상 공부하는 것 입니다. <br> 
                업무 이외에도 매일 공부하여 더 나은 분석가로서 남고싶습니다.</p>
            
            </div>
        </div>
    </div>
</section>
